@font-face {
  font-family: "Cinzel";
  src: url("./CinzelDecorative-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("./CinzelDecorative-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("./CinzelDecorative-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
